/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body.no-scroll {
	overflow: hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.edit-top-bar {
	width: 100vw;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	background-color: #000;
}

.edit-top-bar i {
	margin-right: 0.5em;
}

.edit-top-bar p {
	margin-right: 1.313em;
}

.edit-top-bar + header {
	margin-top: 6rem;
}

.btn {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
	border: 1px solid transparent;
    border-radius: 60px;
	cursor: pointer;
}

.btn--no-border {
	background-color: transparent;
	border: none;
}

.btn--square {
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: #000;
	border-radius: 2px;
}

.btn--square i {
	font-size: 9px;
}

.btn--navbar-toggler {
	color: #000;
	font-size: 24px;
	display: none;
}

.btn--filter {
	margin : 2em 1em;
	padding: 0.5em 1em;
	color: #1D6154;
	background-color: transparent;
	border: 1px solid #1D6154;
}

.btn--filter.active {
	color: #ffffff;
	background-color: #1D6154;
}

.btn--edit-validate {
	width: 216px;
	height: 50px;
	margin: 0;
	font-family: 'Work Sans';
	color: #000000;
	background-color: #ffffff;
}

.btn--edit-field {
	display: flex;
	margin: 0;
	padding: 0;
	font-family: 'Work Sans';
	font-weight: 500;
	color: inherit;
}

.btn--edit-field i {
	margin-right: 0.5em;
}

.btn--back,
.btn--close {
	width: 12px;
	margin: 0;
	color: #000000;
}

.btn--edit {
	width: auto;
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: 'Work Sans';
	font-weight: 400;
}

.btn--add-image {
	width: 237px;
	height: 36px;
	display: block;
	margin: 2.375rem auto 0 auto;
}

.btn--delete-all {
	display: block;
	color: #D65353;
	margin: 1.5rem auto 0 auto;
}

.btn--select-img {
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 1.313em 0 0.438em 0;
	color: #306685;
	font-family: 'Work Sans';
	background-color: #CBD6DC;
	cursor: pointer;
}

.layer {
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.modal {
	width: 630px;
	min-height: 200px;
	/* max-height: 90vh; */
	background-color: #ffffff;
	border-radius: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 4;
	transform: translate(-50%, -50%);
}

.modal__content {
	display: flex;
	flex-direction: column;
	padding: 2em;
}

.modal__content.hidden {
	display: none;
}

.modal__header {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}

.modal__header .btn--back {
	position: absolute;
	top: 0;
	left: 0;
}

.modal__header .btn--close {
	position: absolute;
	top: 0;
	right: 0;
}

.header__title {
	font-size: 1.625rem;
	font-weight: 500;
	text-align: center;
	margin: 1rem 0 2.25rem 0;
}

.modal__body {
	padding: 0 4.5em;
}

.modal__body .error-message {
	width: 100%;
	/* min-height: 30px; */
}

.error-message.show {
	margin: 0.5em 0;
	padding: 0.5em 0;
	background-color: rgba(255,0,0,0.1);
	border-radius: 5px;
}

.modal__body .buttons__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	border-top: 1px solid #B3B3B3;
}

/* .modal__body .form--add-work input[type="text"],
.modal__body .form--add-work select {
	padding-left: 0.75em;
} */

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.navbar-collapse .navbar-nav {
	display: none;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction .btn--edit-field {
	margin: 1rem auto 0 10%;
}

#introduction article .btn--edit-field {
	margin: 0 ;
}

#introduction article {
	flex: 1
}

#introduction article .btn--edit-field {
	margin-bottom: 0.5rem;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-right: 1em;
}

#portfolio .btn--edit-field {
	margin: 0.5rem 0 6rem 0;
}

.filters {
	width: 100%;
	display: flex;
	justify-content: center;
}

.filters.hidden {
	display: none;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery--edit {
	max-height: 300px;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: initial;
	/* margin-top: 30px; */
	padding-bottom: 1em;
	overflow-y: auto;
}

.gallery--edit.hidden {
	display: none;
}

.gallery--edit::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.gallery--edit::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

.gallery--edit::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.gallery img {
	width: 100%;
}

.gallery--edit figure {
	/* width: 78px; */
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	position: relative;
	margin: 0 9px 9px 0;
}

.gallery--edit .buttons-above {
	width: 50%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 5px;
	right: 5px;
}

.gallery--edit figure img {
	height: 100%;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#login {
	text-align: center;
}

#contact > *,
#login > * {
	text-align: center;
}
#contact h2,
#login h2 {
	margin-bottom: 20px;
}

.error-message {
	color: red;
	font-weight: 700;
	text-align: center;
}

#contact form,
#login form,
.form--add-work {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#login form {
	margin-bottom: 2em;
}

#contact input,
#login input,
.form--add-work input,
.form--add-work select {
	height: 50px;
	font-size: 1em;
	font-family: "Work Sans";
	padding-left: 0.75em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input,
#login input,
.form--add-work input[type="text"],
.form--add-work select {
	padding-left: 0.75em;
}

.form--add-work.hidden {
	display: none;
}

.form__group {
	display: flex;
	flex-direction: column;
	padding: 1em 0;
}

.form__group:nth-child(3) {
	position: relative;
	padding-bottom: 3em;
	border-bottom: 1px solid #B3B3B3;
}

.form__group.group__input__file {
	height: 169px;
	background-color: #E8F1F6;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0;
	/* padding: 28px 0 19px 0; */
	/* cursor: pointer; */
}

.form__group  label {
	margin-bottom: 1em;
}

.form__group select {
	background-color: transparent;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	z-index: 1;
}

.form__group .input__arrow__down {
	font-size: 1em;;
	position: absolute;
	top: 60px;
	right: 15px;
	z-index: 0;
}

.group__input__file i {
	font-size: 58px;
}

.group__input__file .btn--select-img {
	width: 173px;
	position: relative;
	cursor: pointer;
	z-index: 1;
}

.group__input__file .input__file {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.btn--select-img.invisible {
	width: 127px;
	height: 169px;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	margin: 0;
	border-radius: 0px;
	opacity: 0;
}

.group__input__file span {
	font-size: 10px;
}

.group__input__file .thumbnail {
	width: auto;
	max-width: 180px;
    height: 169px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	cursor: default;
	z-index: 0;
	overflow: hidden;
}

.img__preview {
	width: auto;
	height: 100%;
	object-fit: cover;
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto 0 auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

@media screen and (max-width: 992px) {
	body {
		padding: 0 2em;
	}

	.gallery--edit {
		grid-template-columns: repeat(4, 1fr);
	}

	.gallery--edit .buttons-above {
		width: 100%;
		top: 10px;
		right: 10px;
		justify-content: flex-end;
	}

	.buttons-above .btn--square {
		width: 24px;
		height: 24px;
	}

	.btn--square.btn--delete {
		margin-left: 10px;
	}

	.btn--edit {
		margin-top: 0.5em;
	}

	.btn--add-image {
		margin: 1.5em auto 0 auto;
	}

	.btn--delete-all {
		margin: 1em auto 0 auto;
	}
}

@media screen and (max-width: 768px) {

	body {
		padding: 0 1rem;;
	}

	.edit-top-bar {
		z-index: 3;
	}

	.edit-top-bar.hidden {
		display: none;
	}

	.edit-top-bar p {
		flex-basis: 30%;
		margin: 0;
	}

	.edit-top-bar .btn--edit-validate {
		width: 180px;
	}

	.edit-top-bar.hidden + header {
		margin: 50px 0;
	}

	header h1 {
		position: relative;
		z-index: 2;
	}

	header nav ul {
		display: none;
	}

	header nav .btn--navbar-toggler {
		width: 21px;
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		z-index: 2;
	}

	.navbar-collapse {
		width: 100%;
		height: 100vh;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		color: #fff;
		/* background-color: #1D6154; */
		background-color: #fffef8;
	}

	.navbar-collapse.show {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.navbar-collapse.show .navbar-nav {
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#introduction {
		flex-direction: column;
	}

	#introduction figure {
		display: flex;
		flex-direction: column;
		margin-bottom: 2em;
	}

	#introduction figure img {
		width: 100%;
		order: 2;
	}

	#introduction figure .btn--edit-field {
		order: 1;
		margin: 0 0 0.5em 0;
	}

	#introduction article h2 {
		text-align: center;
	}

	#portfolio h2 {
		flex-basis: 100%;
		margin-right: 0;
	}

	#portfolio .filters {
		justify-content: flex-start;
		margin-bottom: 1em;
		overflow-x: auto;
    	scroll-snap-type: x mandatory;
	}

	#portfolio .filters .btn--filter {
		/* width: auto; */
		margin: 0 0.5em 0 0;
	}
	#portfolio .filters .btn--filter/* :not(:last-child) */ {
		margin-bottom: 2em;
	}

	#portfolio .btn--edit-field {
		width: auto;
		margin: 0 auto 0.5em 0;
	}

	#portfolio .gallery {
		grid-template-columns: 1fr 1fr;
	}

	#contact,
	#login {
		width: 100%;
	}

	.modal {
		width: 90%;
	}

	.modal__content {
		padding: 1.5em 2em 2em 2em;
	}

	.modal__header .btn--close,
	.modal__header .btn--back {
		font-size: 16px;
	}

	.header__title {
		margin: 1em 0 1em 0;
	}

	.modal__body {
		padding: 0;
	}

	.modal__body .error-message {
		font-size: 12px;
		margin-top: 1.5em;
	}

	.gallery--edit {
		/* max-height: 350px; */
		grid-template-columns: 1fr 1fr;
		margin-top: 0;
	}

	.gallery--edit figure {
		margin: 0 2em 1em 0;
	}

	.gallery--edit .buttons-above {
		width: 100%;
		top: 10px;
		right: 10px;
		justify-content: flex-end;
	}

	.buttons-above .btn--square {
		width: 24px;
		height: 24px;
	}

	.btn--square.btn--delete {
		margin-left: 10px;
	}

	.btn--edit {
		margin-top: 0.5em;
	}

	.btn--add-image {
		margin: 1.5em auto 0 auto;
	}

	.btn--delete-all {
		margin: 1em auto 0 auto;
	}

	.form__group {
		padding: 0.5em 0;
	}

	.form__group.group__input__file {
		height: 150px;
	}

	.group__input__file i {
		font-size: 35px;
	}

	.group__input__file .thumbnail {
		height: 150px;
	}

	.form__group:nth-child(3) {
		padding-bottom: 1.5em;
	}

	.form__group label {
		margin-bottom: 0.5em;
	}

	.form__group .input__arrow__down {
		top: 50px;
	}
}